* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  padding: 50px;
}

.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
}

.card {
  width: auto;
  padding: 70px 40px;
}

.name {
  font-size: 35px;
  font-weight: 700;
  color: #444;
}

.ocupation {
  font-size: 14px;
  color: SteelBlue;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.img-container {
  margin-bottom: 50px
}

.caption {
  font-size: 14px;
  line-height: 1.8em;
  color: SteelBlue;
  margin-bottom: 15px;
}

.regular {
  font-size: 14px;
  line-height: 1.8em;
  color: #666;
  margin-bottom: 50px;
}

.link {
  color: blue;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

#contact_btn {
  display: inline-block;
  color: #444;
  text-decoration: none;
  padding: 1rem 2rem;
  border: black 1px solid;
}

#contact_btn:hover {
  background-color: steelblue;
  color: white;
}
