:root {
  --main-bg-color: white;
  --border-color: #F4F4F4;
  --text-color: #14171A;
  --caption-color: black;
  --link-color: #1B95E0;
  --btn-color: #1DA1F2;
  --btn-bg-color: #E8F5FE;

}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

img {
  display: inline-block;
  max-width: 100%;
  min-width: 100%;
  margin: auto;
  margin-bottom: 3em;
}

header {
  display: flex;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: var(--border-color);
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1.5rem;
}

.nav_button {
  margin-right: 1.5rem;
}

.lang {
  text-align: right;
  flex-grow: 1;
  margin-right: 1rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 0rem 2rem 2rem 3rem;
  background-color:var(--main-bg-color);
  font-size: 1.3rem;
}

.border {
  border: solid;
  border-width: 0.2rem;
  border-color: var(--border-color);
}

.card {
  background-color: var(--main-bg-color);
  margin: auto;
  margin-bottom: 1rem;
  max-width: 900px;
  padding: 4rem 2rem;
}

.name {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--caption-color);
}

.ocupation {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-bottom: 3rem;
}

.caption {
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.8em;
  color: var(--caption-color);
}

.regular {
  line-height: 2rem;
  color: var(--text-color);
  margin-bottom: 3rem;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 900;
}

.link:hover {
  text-decoration: underline;
}

.bottom {
  font-size: 10;
  color: var(--text-color);
  text-align: center;
  margin-top: 7rem;
}

@media only screen and (min-width: 750px) {
  img {
    display: block;
    max-width: 100%;
    min-width: 50%;
    padding: 100px;
    margin: auto;
  }

  .name {
    text-align: left;
  }

  .ocupation {
    text-align: left;
  }
}