:root {
  --main-bg-color: white;
  --border-color: #F4F4F4;
  --text-color: #14171A;
  --caption-color: black;
  --link-color: #1B95E0;
  --btn-color: #1DA1F2;
  --btn-bg-color: #E8F5FE;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 50px;
  background-color:var(--main-bg-color);
}

.border {
  border: solid;
  border-width: 2px;
  border-color: var(--border-color);
}

.card {
  background-color: var(--main-bg-color);
  margin: auto;
  max-width: 900px;
  padding: 70px 40px;
}

.name {
  font-family: 'Merriweather', serif;
  font-size: 50px;
  font-weight: 700;
  color: var(--caption-color);
}

.ocupation {
  font-family: 'Merriweather', serif;
  font-size: 25px;
  font-weight: 900;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.img-container {
  margin-bottom: 50px
}

.caption {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.8em;
  color: var(--caption-color);
}

.regular {
  font-size: 20px;
  line-height: 1.8em;
  color: var(--text-color);
  margin-bottom: 50px;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 900;
}

.link:hover {
  text-decoration: underline;
}

#contact_btn {
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
  color: var(--btn-color);
  background-color: var(--main-bg-color);
  text-decoration: none;
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 60px;
}

#contact_btn:hover {
  background-color: var(--btn-bg-color);
}

.bottom {
  font-size: 10;
  color: var(--text-color);
  text-align: center;
  margin-top: 100px;
}
